<p>Un nouveau message a été envoyé depuis ton portfolio! :</p>

<p>
  <strong>Nom :</strong>
  <%= @message.lastname %>
  <br>
  <strong>Prénom :</strong>
  <%= @message.firstname %>
  <br>
  <strong>Email :</strong>
  <%= @message.email %>
  <br>
  <strong>Message :</strong>
  <%= @message.message %>
  <br>
</p>
