<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/VinhNguyen2018" target="_blank" ><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/vinhlabrioche/" target="_blank" ><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/francois.nguyen.790" target="_blank" ><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/Vinh_la_brioche" target="_blank" ><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/fran%C3%A7ois-nguyen-9b66b6146/" target="_blank" ><i class="fab fa-linkedin"></i></a>
  </div>
</div>
<div class="footer">
  <div class="footer-copyright">
    This footer was made with <i class="fas fa-heart"></i> between two top 1 on <i class="fas fa-gamepad"></i> APEX games
  </div>
  </div>
