<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url(<%= image_path("halong.jpg")%>);">
  <div class="banner-content">
    <h2>FRANCOIS NGUYEN</h2>
    <h6>Freshly web developer</h6>
    <a class="btn btn-primary">About me</a>
  </div>
</div>
