.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position:absolute;
  top:0;
  width:100%;
}

.fixed{
  position: fixed;
  top:0;
  z-index:1000;
  background-color: rgba(59,71,90, 0.85);
  height:55px;
  transition-duration: 3s;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand p {
  font-size:12px;
  color:lightgrey;
  padding-top:20px;
}

#navbarSupportedContent a {
  font-size:12px;
  color:lightgrey;
}

.nav-item active .nav-link a{
  color:white;
  padding-top:100px;
}

.nav-link{
  color:white;
  padding-top:20px;
}



@media (max-width: 575px) {

.nav-item-avatar{
  display: none;
}

.nav-item {
  background-color: rgba(50, 50, 50,0.8)
}

.navbar-toggler {
    border: none;
    margin-bottom: 5px;
}

.lightgrey {
  color:lightgrey;
}

}
